<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PEP/src/HashMapHeap/Smallest_Subarray_With_All_occurrences_of_a_most.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="HashMapHeap.Smallest_Subarray_With_All_occurrences_of_a_most"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PEP"/>
</launchConfiguration>
